@import "./reset.css";

:root {
  --color-white: #fff;
  --color-blue: #1992D4;
  --color-btn-generic: #1992d4;
  --color-grey: #E2E8F0;
  --color-orange: #F0B42B;
  --color-shadow: #D7DCE4;
  --color-card-text: #7D7D7D;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  font-family: "Arial";
}

.header,
.sidebar,
.content {
  height: 100%;
}

.content {
  grid-area: content;
}

/* Sidebar */
.sidebar li {
  display: flex;
  align-items: center;
  color: var(--color-white);
  margin-bottom: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-blue);
  padding: 16px;
}

li img {
  margin-right: 28px;
}

.main-nav {
  margin-bottom: 50px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.logo img {
  margin-right: 16px;
}

.logo h1 {
  font-size: 2rem;
  color: var(--color-white);
}

/* Header */
.header {
  grid-area: header;
  box-shadow: 0 4px 2px -2px var(--color-shadow);
  padding-left: 50px;
  padding-top: 24px;
  padding-right: 75px;
}

.header-top {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.searchbar {
  display: flex;
  gap: 20px;
  width: 70%;
  margin-right: auto;
}

.searchbar input {
  width: 100%;
  border-radius: 25px;
  border: none;
  background-color: var(--color-grey);
}

.header-top .user-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.user {
  font-weight: bold;
}

.avatar {
  width: 40px;
  border-radius: 100%;
  grid-area: avatar;
}

.header-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-bottom .user-details {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "avatar greeting"
    "avatar name";
  column-gap: 20px;
  row-gap: 5px;
  margin-right: auto;
}

.header-bottom .user-details .avatar {
  width: 70px;
  grid-area: avatar;
}

.header-bottom .user-details>p {
  font-weight: bold;
}

.header-bottom .user-details>p:first-of-type {
  grid-area: greeting;
  font-size: 0.8rem;
  align-self: end;
}

.header-bottom .user-details>p:last-of-type {
  grid-area: name;
  font-size: 1.25rem;
}

.user-actions {
  display: flex;
  gap: 16px;
  align-items: center;
}

.user-actions>button {
  min-width: 80px;
}

.btn-base {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-generic {
  background-color: var(--color-btn-generic);
  color: var(--color-white);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 25px;
}

/* Content */

.content {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  gap: 16px;
  background-color: var(--color-grey);
  padding: 16px;
}

.projects {
  grid-area: projects;
  padding: 16px;
}

.projects h3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.project-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  overflow: auto;
}

.project-card {
  box-shadow: -2px 2px 5px 0px var(--color-shadow);
  -webkit-box-shadow: -2px 2px 5px 0px var(--color-shadow);
  -moz-box-shadow: -2px 2px 5px 0px var(--color-shadow);
  background-color: var(--color-white);
  padding: 32px;
  border-radius: 10px;
  position: relative;
}

.project-card::before {
  content: "";
  background-color: var(--color-orange);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-card h4 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.project-card p {
  color: var(--color-card-text);
  margin-bottom: 32px;
}

.project-card .actions {
  float: right;
}

.project-card .actions img:not(:first-of-type) {
  margin-left: 32px;
}

.announcements {
  grid-area: announcements;
  padding-top: 16px;
  padding-right: 32px;
}

.announcements h3 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.announcement h4 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.announcement p {
  font-size: 0.9rem;
  color: var(--color-card-text);
  margin-bottom: 15px;
}

.announcement hr {
  color: white
}

.announcement-board {
  box-shadow: -2px 2px 5px 0px var(--color-shadow);
  -webkit-box-shadow: -2px 2px 5px 0px var(--color-shadow);
  -moz-box-shadow: -2px 2px 5px 0px var(--color-shadow);
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 10px;
}

.trending {
  grid-area: trending;
  padding-right: 32px;
}

.trending-board {
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 10px;
}

.trending h3 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.trending-user {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar tag"
    "avatar description";
  column-gap: 16px;
  margin-bottom: 24px;
}

.trending-user img {
  object-fit: cover;
  grid-area: avatar;
}

.trending-user span:first-of-type,
.trending-user span:last-of-type {
  grid-area: tag;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.trending-user span:last-of-type {
  grid-area: description;
  color: var(--color-card-text);
}